*{margin: 5px;
    padding: 0;}

h1 {background-color: red; color: white;}
#z {background-color: aliceblue;}
a {text-decoration: none;}

#a {background-color: antiquewhite;}
#b {background-color: aqua;}
#c {background-color: aquamarine;}
#d {background-color:blueviolet; color: white;}
#e {background-color: beige;}
#f {background-color: tomato;}
#g {background-color: blanchedalmond;}
#h {background-color: blue; color: white;}
#i {background-color: yellowgreen;}
#j {background-color: violet;}